.main-cont{
    margin-top: 7rem;
    min-height: 100vh;
    background-color: #ffffff;
    margin-bottom: 4rem;
    border-radius: 2rem;
    padding: 4rem;
}
.message-cont-left{
    display: flex;
}
.message-left{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #cbb8ff;
    padding: 10px;
    color: white;
    font-size: 1.2rem;
}
.message-cont-right{
    display: flex;
    justify-content: right;
}
.message-right{
    font-size: 1.2rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #cbb8ff;
    padding: 10px;
    color: white;
    max-width: 720px;
}